@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&family=Raleway:wght@400;900&display=swap');

/*font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif; */
body {
  margin: 0;
 font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0A100D !important;
  color: white !important;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
