 $black : #0A100D;
$greye : #616161;
$blue : #9bc4bc;
$red : #902923;
$white : #f1fbfc;
$shop :#D6D5C9;
 $yellow : #D3B306;
  $pink : #FB7E69;

.myBgPink{
   background-color: $pink;
}

 .myTextYellow{
 color:  $yellow  !important;
 }
.myBgShop{
   background-color: $yellow;
}
  .myTextRed{
 color:  $red  !important;
 font-weight:900 !important ;
 font-size: 3rem;
 }
 
.myBgShop{
   background-color: $shop;
}
.myTextGrey{
  color: $greye;
}

.myRedBg {
  
  color: $red ;
}

.myTextBlu {
  color: $blue;
}

.myBlackBg {
  background-color: $black !important;
}
.myTextBlack{
  color: $black
}

.myWhiteBg {
  background-color: $white !important;
}

.myTextWhite {
  color:white;
}


.mybutton{
background-color: $white !important ;
color: #0A100D;
 border: none !important;
 color: #0A100D;
}

.mybutton:hover{
   border: 1px solid $red !important;
  color:  $white !important ;
  background-color: $red!important ;
}

.mybuttoncard{
  border: none !important;
  color:  $white !important ;
  background-color: #0A100D !important ;
}

.mybuttoncard:hover{
  background-color: $red  !important ;
color: #0A100D;
 color: #0A100D;

}

.myheight{
  height: 255px;
}
.myborder{
  border: 3px solid $red;
  border-radius: 25px !important;
}
.myborder


.myshadow{
 -webkit-box-shadow: 3px 3px 10px 0px #666666;
-moz-box-shadow: 3px 3px 10px 0px #666666;
-o-box-shadow: 3px 3px 10px 0px #666666;
box-shadow: 3px 3px 10px 0px #666666;}

.linea{
  position: absolute;
    content: '';
    width: 1px;
    top: -3px;
    bottom: -3px;
    background-color: #dc062b;
    right: 0;
    margin-right: 2px;
}

.imglogo{
  height: 40px;
}

.mygif{
  height: 150px;

}

.mybg1{
  background-image: url("../assets/fotopromo/Asset\ 1.png" ) ;
  opacity: 100%;
  background-repeat: no-repeat;
 height: 500px;
 background-size: cover;

}

.myristo1{
  background-image: url("../assets/fotopromo/Asset\ 3-100.jpg" ) ;
  opacity: 100%;
  background-repeat: no-repeat;
 height: 500px;
 background-size: cover;
  transition: transform .2s;

}

.myristo2{
  background-image: url("../assets/fotopromo/rist1.jpg" ) ;
  opacity: 100%;
  background-repeat: no-repeat;
 height: 500px;
 background-size: cover;
  transition: transform .2s;

}

.myristo3{
  background-image: url("../assets/fotopromo/ristorante-sushi-tuscolana-m.jpg" ) ;
  opacity: 100%;
  background-repeat: no-repeat;
 height: 500px;
 background-size: cover;
  transition: transform .2s;
 
}
.myristo3:hover , .myristo1:hover , .myristo2:hover {
  
}

.my-position-relative{
  position: relative;
  top: -18px;
  background-color: #0A100D;
 
  
}

.emoji1{
  
  height: 50px;

}

.title{
 font-family: 'Archivo', sans-serif;
 font-size: 2.5rem;
 font-weight: 900;
 
}

.mydim{
  width: 70%;
}
.cert{
  width: 50px;
}